(TRANSFORM C
    (INPUTS     (UsableEnergy 3)
                (MetallicElements 2)
                (Timber 6)
                (MetallicAlloys 4))
    (OUTPUTS    (Housing 2)
                (HousingWaste 1)))